In [1]:
!pip install pyspark
import pyspark
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('DF').getOrCreate()
from pyspark.sql.functions import *
from pyspark.sql.types import *

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 2.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=6bcb46f3997c6db07f9d777badfef651f2b25109ad21f1f454361ba403bd4b21
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [2]:
accidents_df =spark.read.csv('/content/Road_accidents.csv',header=True,inferSchema=True)
accidents_df.show()

+--------------+----+-------+--------+-----+-----+----+----+----+------+---------+-------+--------+--------+
|      STATE/UT|YEAR|JANUARY|FEBRUARY|MARCH|APRIL| MAY|JUNE|JULY|AUGUST|SEPTEMBER|OCTOBER|NOVEMBER|DECEMBER|
+--------------+----+-------+--------+-----+-----+----+----+----+------+---------+-------+--------+--------+
| A & N Islands|2001|      8|      23|   15|   15|  14|  19|  14|    19|        7|     12|      13|      22|
| A & N Islands|2002|     12|      10|   14|   16|  10|   7|  16|    11|       23|     21|      11|      17|
| A & N Islands|2003|     19|      13|   15|   13|  13|  12|   8|    16|       17|     25|      14|      15|
| A & N Islands|2004|     21|      14|   22|   17|  13|  18|  16|    19|       16|     20|      15|      24|
| A & N Islands|2005|     19|      21|   22|   17|  13|  19|  21|    14|       15|     19|      10|      16|
| A & N Islands|2006|     21|      13|    4|   22|   9|  14|  12|    14|        8|     14|       6|      18|
| A & N Islands|2007|     17|      16|   12|   22|  12|  14|   8|    10|       11|      7|      11|      12|
| A & N Islands|2008|     17|      22|   15|   16|  15|  17|  13|    11|       13|     17|      11|      24|
| A & N Islands|2009|     16|      23|   23|   21|  21|  19|  24|    25|       31|     22|      20|      26|
| A & N Islands|2010|     16|      30|   28|   15|  29|  24|  22|    18|       25|     30|      27|      21|
| A & N Islands|2011|     24|      10|   19|   24|  13|  28|  17|    18|       25|     17|      18|      22|
| A & N Islands|2012|     25|      15|   24|   24|  18|  16|  17|    18|       18|     25|      17|      19|
| A & N Islands|2013|     24|      23|   16|   15|  13|  16|  14|    25|       14|     15|      14|      11|
| A & N Islands|2014|     25|      13|   19|   19|  18|  15|  15|    16|       15|     23|      18|      22|
|Andhra Pradesh|2001|   2204|    2437| 2405| 2351|2550|2284|2025|  2077|     2070|   2276|    2122|    2387|
|Andhra Pradesh|2002|   2492|    2453| 2835| 2786|3195|2880|2645|  2607|     2555|   2624|    2646|    2859|
|Andhra Pradesh|2003|   2783|    2569| 2870| 2635|3265|2924|2657|  2934|     2767|   2881|    3037|    3215|
|Andhra Pradesh|2004|   3019|    3131| 3211| 3100|3257|2942|2827|  3079|     2972|   3041|    3129|    3370|
|Andhra Pradesh|2005|   3189|    3193| 3182| 3056|3612|3247|2907|  3028|     2742|   2928|    2975|    3230|
|Andhra Pradesh|2006|   3568|    3224| 3496| 3634|3962|3400|3334|  3311|     3232|   3306|    3268|    3588|
+--------------+----+-------+--------+-----+-----+----+----+----+------+---------+-------+--------+--------+
only showing top 20 rows

In [3]:
accidents_time_df =spark.read.csv('/content/Road_accidents_time.csv',header=True,inferSchema=True)
accidents_time_df.show()

+--------------+----+----------------+----------------+-------------+--------------+---------------+---------------+-----------------+-----------------+
|      STATE/UT|YEAR|0-3 hrs. (Night)|3-6 hrs. (Night)|6-9 hrs (Day)|9-12 hrs (Day)|12-15 hrs (Day)|15-18 hrs (Day)|18-21 hrs (Night)|21-24 hrs (Night)|
+--------------+----+----------------+----------------+-------------+--------------+---------------+---------------+-----------------+-----------------+
| A & N Islands|2001|               2|               6|           29|            40|             39|             40|               18|                7|
| A & N Islands|2002|               2|               6|           22|            41|             33|             33|               23|                8|
| A & N Islands|2003|               2|               8|           31|            35|             28|             36|               25|               15|
| A & N Islands|2004|               2|               5|           29|            42|             43|             43|               37|               14|
| A & N Islands|2005|               0|               8|           27|            28|             38|             42|               50|               13|
| A & N Islands|2006|               1|               3|           17|            33|             33|             23|               38|                7|
| A & N Islands|2007|               2|               5|           20|            30|             30|             27|               31|                7|
| A & N Islands|2008|               3|               7|           33|            24|             40|             31|               40|               13|
| A & N Islands|2009|               2|               6|           35|            41|             64|             54|               50|               19|
| A & N Islands|2010|               2|              10|           36|            45|             64|             57|               53|               18|
| A & N Islands|2011|               4|               3|           36|            27|             46|             50|               51|               18|
| A & N Islands|2012|               4|               6|           26|            29|             54|             45|               58|               14|
| A & N Islands|2013|               2|               3|           22|            31|             40|             40|               37|               25|
| A & N Islands|2014|               4|               6|           25|            28|             55|             36|               41|               23|
|Andhra Pradesh|2001|            2239|            3265|         3198|          3729|           3604|           3792|             4098|             3263|
|Andhra Pradesh|2002|            2931|            3857|         3671|          4255|           4153|           4778|             4844|             4088|
|Andhra Pradesh|2003|            3158|            4865|         3749|          4319|           4266|           4853|             5218|             4109|
|Andhra Pradesh|2004|            3191|            4770|         4598|          5030|           4033|           4971|             6031|             4454|
|Andhra Pradesh|2005|            3826|            6011|         5002|          4137|           4261|           4524|             5096|             4432|
|Andhra Pradesh|2006|            3635|            5525|         4270|          5108|           4918|           6101|             6757|             5009|
+--------------+----+----------------+----------------+-------------+--------------+---------------+---------------+-----------------+-----------------+
only showing top 20 rows

In [4]:
from pyspark.sql.window import Window

In [5]:
months = ['JANUARY', 'FEBRUARY', 'MARCH', 'APRIL', 'MAY', 'JUNE', 'JULY', 'AUGUST', 'SEPTEMBER', 'OCTOBER', 'NOVEMBER', 'DECEMBER']
total_expr = " + ".join([f"`{month}`" for month in months])
accidents_df = accidents_df.withColumn("Total", expr(total_expr).cast("int"))
accidents_df.show()

+--------------+----+-------+--------+-----+-----+----+----+----+------+---------+-------+--------+--------+-----+
|      STATE/UT|YEAR|JANUARY|FEBRUARY|MARCH|APRIL| MAY|JUNE|JULY|AUGUST|SEPTEMBER|OCTOBER|NOVEMBER|DECEMBER|Total|
+--------------+----+-------+--------+-----+-----+----+----+----+------+---------+-------+--------+--------+-----+
| A & N Islands|2001|      8|      23|   15|   15|  14|  19|  14|    19|        7|     12|      13|      22|  181|
| A & N Islands|2002|     12|      10|   14|   16|  10|   7|  16|    11|       23|     21|      11|      17|  168|
| A & N Islands|2003|     19|      13|   15|   13|  13|  12|   8|    16|       17|     25|      14|      15|  180|
| A & N Islands|2004|     21|      14|   22|   17|  13|  18|  16|    19|       16|     20|      15|      24|  215|
| A & N Islands|2005|     19|      21|   22|   17|  13|  19|  21|    14|       15|     19|      10|      16|  206|
| A & N Islands|2006|     21|      13|    4|   22|   9|  14|  12|    14|        8|     14|       6|      18|  155|
| A & N Islands|2007|     17|      16|   12|   22|  12|  14|   8|    10|       11|      7|      11|      12|  152|
| A & N Islands|2008|     17|      22|   15|   16|  15|  17|  13|    11|       13|     17|      11|      24|  191|
| A & N Islands|2009|     16|      23|   23|   21|  21|  19|  24|    25|       31|     22|      20|      26|  271|
| A & N Islands|2010|     16|      30|   28|   15|  29|  24|  22|    18|       25|     30|      27|      21|  285|
| A & N Islands|2011|     24|      10|   19|   24|  13|  28|  17|    18|       25|     17|      18|      22|  235|
| A & N Islands|2012|     25|      15|   24|   24|  18|  16|  17|    18|       18|     25|      17|      19|  236|
| A & N Islands|2013|     24|      23|   16|   15|  13|  16|  14|    25|       14|     15|      14|      11|  200|
| A & N Islands|2014|     25|      13|   19|   19|  18|  15|  15|    16|       15|     23|      18|      22|  218|
|Andhra Pradesh|2001|   2204|    2437| 2405| 2351|2550|2284|2025|  2077|     2070|   2276|    2122|    2387|27188|
|Andhra Pradesh|2002|   2492|    2453| 2835| 2786|3195|2880|2645|  2607|     2555|   2624|    2646|    2859|32577|
|Andhra Pradesh|2003|   2783|    2569| 2870| 2635|3265|2924|2657|  2934|     2767|   2881|    3037|    3215|34537|
|Andhra Pradesh|2004|   3019|    3131| 3211| 3100|3257|2942|2827|  3079|     2972|   3041|    3129|    3370|37078|
|Andhra Pradesh|2005|   3189|    3193| 3182| 3056|3612|3247|2907|  3028|     2742|   2928|    2975|    3230|37289|
|Andhra Pradesh|2006|   3568|    3224| 3496| 3634|3962|3400|3334|  3311|     3232|   3306|    3268|    3588|41323|
+--------------+----+-------+--------+-----+-----+----+----+----+------+---------+-------+--------+--------+-----+
only showing top 20 rows

In [6]:
accidents_df.select('STATE/UT','Total').filter(col('Total')==accidents_df.agg({'Total':'max'}).collect()[0][0]).show()

+----------+-----+
|  STATE/UT|Total|
+----------+-----+
|Tamil Nadu|75480|
+----------+-----+

In [7]:
accidents_df.groupBy('STATE/UT').agg({'Total':'avg'}).show()

+-----------------+------------------+
|         STATE/UT|        avg(Total)|
+-----------------+------------------+
|         Nagaland|55.785714285714285|
|        Karnataka|41768.642857142855|
|           Odisha| 8231.214285714286|
|           Kerala|           37011.5|
|       Tamil Nadu|60862.357142857145|
|     Chhattisgarh|            8415.5|
|   Andhra Pradesh|39058.642857142855|
|      Lakshadweep|               1.0|
|   Madhya Pradesh| 28143.35714285714|
|           Punjab|3343.1428571428573|
|          Manipur| 580.7142857142857|
|      Daman & Diu| 45.92857142857143|
|  Jammu & Kashmir| 5915.714285714285|
|              Goa|3209.3571428571427|
|          Mizoram| 79.71428571428571|
| Himachal Pradesh|2650.3571428571427|
|       Puducherry|            1513.5|
|          Haryana|  9422.92857142857|
|        Jharkhand|3300.6428571428573|
|Arunachal Pradesh|242.07142857142858|
+-----------------+------------------+
only showing top 20 rows

In [8]:
accidents_df.groupBy('STATE/UT').agg({'JANUARY':'avg','FEBRUARY':'avg','MARCH':'avg','APRIL':'avg','MAY':'avg','JUNE':'avg','JULY':'avg','AUGUST':'avg','SEPTEMBER':'avg','OCTOBER':'avg','NOVEMBER':'avg','DECEMBER':'avg'}).show()

+-----------------+------------------+-------------------+-------------------+-------------------+------------------+-------------------+-------------------+------------------+-------------------+------------------+------------------+------------------+
|         STATE/UT|     avg(DECEMBER)|         avg(APRIL)|          avg(JULY)|     avg(SEPTEMBER)|         avg(JUNE)|      avg(FEBRUARY)|       avg(OCTOBER)|       avg(AUGUST)|      avg(NOVEMBER)|        avg(MARCH)|          avg(MAY)|      avg(JANUARY)|
+-----------------+------------------+-------------------+-------------------+-------------------+------------------+-------------------+-------------------+------------------+-------------------+------------------+------------------+------------------+
|         Nagaland| 5.142857142857143|  4.928571428571429|  5.071428571428571| 3.0714285714285716| 5.357142857142857|  5.857142857142857|  5.214285714285714| 3.642857142857143| 3.2857142857142856| 5.142857142857143|               4.0| 5.071428571428571|
|        Karnataka| 3724.714285714286|  3580.714285714286| 3269.1428571428573|             3222.0|3482.1428571428573|             3407.5|  3349.285714285714|3236.1428571428573| 3406.4285714285716|3587.4285714285716|            3929.5|3573.6428571428573|
|           Odisha|             754.5|              693.0|  641.9285714285714|  591.7142857142857| 696.7857142857143|  685.0714285714286|  627.8571428571429| 591.3571428571429|  678.6428571428571| 745.6428571428571|             773.5| 751.2142857142857|
|           Kerala|3316.6428571428573| 3087.4285714285716| 2830.9285714285716| 2967.6428571428573|2926.4285714285716|             3058.0|             3007.5|2959.3571428571427| 3087.3571428571427|3182.0714285714284|            3227.0|3361.1428571428573|
|       Tamil Nadu| 4714.857142857143|  5357.642857142857|             4883.0|  4985.428571428572|            5170.5|  5043.928571428572|             4789.5| 5055.357142857143|  4566.714285714285| 5428.071428571428| 5608.142857142857| 5259.214285714285|
|     Chhattisgarh|             691.0|  738.3571428571429|  662.0714285714286|  633.3571428571429| 703.3571428571429|  717.1428571428571|  702.2142857142857| 615.7857142857143|  668.2857142857143|             725.5| 785.1428571428571| 773.2857142857143|
|   Andhra Pradesh|3394.5714285714284|             3349.5|  3026.714285714286|  2965.714285714286|3326.4285714285716|  3189.785714285714|  3121.214285714286|3139.0714285714284|  3143.785714285714|3409.4285714285716|3674.4285714285716|            3318.0|
|      Lakshadweep|               0.0|0.07142857142857142|0.07142857142857142|0.14285714285714285|               0.0|0.07142857142857142|0.14285714285714285|               0.0|0.21428571428571427|               0.0|               0.0|0.2857142857142857|
|   Madhya Pradesh| 2226.785714285714| 2489.8571428571427|             2159.0|             2095.5|2443.6428571428573|  2315.285714285714| 2367.8571428571427|2088.5714285714284|             2321.5|2399.5714285714284|2785.5714285714284| 2450.214285714286|
|           Punjab| 296.7142857142857| 276.07142857142856|  270.2142857142857| 268.35714285714283|273.14285714285717|              274.5| 295.85714285714283|263.07142857142856|              311.0|275.35714285714283| 270.7857142857143|268.07142857142856|
|          Manipur|56.857142857142854| 49.142857142857146|               42.5|               48.0| 42.07142857142857|               49.5|               51.0|40.785714285714285|               51.0| 51.92857142857143| 45.07142857142857|52.857142857142854|
|      Daman & Diu|               4.5|  4.428571428571429|                4.0| 2.9285714285714284|3.4285714285714284| 3.4285714285714284| 3.4285714285714284| 2.857142857142857|  4.571428571428571| 3.857142857142857| 3.357142857142857| 5.142857142857143|
|  Jammu & Kashmir|460.07142857142856|              471.5|  573.2857142857143|  492.7857142857143| 559.2857142857143|              399.0|  536.0714285714286| 514.1428571428571|  511.7142857142857| 465.2142857142857|             531.0|401.64285714285717|
|              Goa|             314.5|  264.7857142857143| 215.21428571428572| 245.28571428571428|             235.0| 272.35714285714283| 258.35714285714283|241.21428571428572| 280.85714285714283|             271.5|             298.5| 311.7857142857143|
|          Mizoram| 8.857142857142858|  6.285714285714286|  7.285714285714286|  5.357142857142857|               5.0|  6.142857142857143|  4.642857142857143| 5.357142857142857|  6.857142857142857| 8.785714285714286| 6.928571428571429| 8.214285714285714|
| Himachal Pradesh|217.07142857142858| 210.35714285714286| 239.28571428571428| 230.21428571428572|245.14285714285714| 175.42857142857142| 236.71428571428572|233.64285714285714| 235.85714285714286|205.71428571428572|236.35714285714286|184.57142857142858|
|       Puducherry|118.35714285714286| 124.28571428571429| 130.92857142857142| 130.42857142857142|128.21428571428572| 120.21428571428571| 133.28571428571428|132.71428571428572| 110.64285714285714|             136.5|129.64285714285714|118.28571428571429|
|          Haryana| 835.9285714285714|              777.0|              778.0|              752.5| 771.3571428571429|  733.2142857142857|  836.0714285714286| 770.8571428571429|  834.3571428571429| 802.0714285714286| 803.1428571428571| 728.4285714285714|
|        Jharkhand|281.42857142857144|  292.7142857142857| 265.14285714285717| 243.35714285714286|296.07142857142856| 260.42857142857144|  265.7857142857143|249.92857142857142| 267.64285714285717| 289.2857142857143|325.14285714285717| 263.7142857142857|
|Arunachal Pradesh|22.571428571428573| 18.071428571428573|               17.0| 20.285714285714285|18.785714285714285| 21.285714285714285| 20.714285714285715|17.642857142857142|               21.5|21.071428571428573|21.285714285714285|21.857142857142858|
+-----------------+------------------+-------------------+-------------------+-------------------+------------------+-------------------+-------------------+------------------+-------------------+------------------+------------------+------------------+
only showing top 20 rows

In [9]:
accidents_df.groupBy('STATE/UT').agg({'JANUARY':'max','FEBRUARY':'max','MARCH':'max','APRIL':'max','MAY':'max','JUNE':'max','JULY':'max','AUGUST':'max','SEPTEMBER':'max','OCTOBER':'max','NOVEMBER':'max','DECEMBER':'max'}).show()

+-----------------+-------------+----------+---------+--------------+---------+-------------+------------+-----------+-------------+----------+--------+------------+
|         STATE/UT|max(DECEMBER)|max(APRIL)|max(JULY)|max(SEPTEMBER)|max(JUNE)|max(FEBRUARY)|max(OCTOBER)|max(AUGUST)|max(NOVEMBER)|max(MARCH)|max(MAY)|max(JANUARY)|
+-----------------+-------------+----------+---------+--------------+---------+-------------+------------+-----------+-------------+----------+--------+------------+
|         Nagaland|           14|         9|       16|            10|       13|           10|          10|          6|           12|        12|      10|          10|
|        Karnataka|         4170|      4295|     3648|          3527|     3942|         3972|        3830|       3619|         3787|      4212|    4538|        4092|
|           Odisha|          931|       794|      763|           707|      846|          826|         776|        719|          854|       912|     999|         911|
|           Kerala|         3762|      3594|     3172|          3399|     3410|         3459|        3532|       3452|         3602|      3711|    3870|        3901|
|       Tamil Nadu|         5562|      9006|     5719|          5777|     5915|         8705|        5516|       5936|         5367|      9205|    9330|        9062|
|     Chhattisgarh|         1131|      1188|     1103|          1016|     1131|         1269|        1107|       1029|         1084|      1288|    1209|        1384|
|   Andhra Pradesh|         4158|      3967|     3519|          3450|     3793|         3657|        3447|       3587|         3617|      3848|    4531|        3978|
|      Lakshadweep|            0|         1|        1|             2|        0|            1|           1|          0|            1|         0|       0|           2|
|   Madhya Pradesh|         3060|      3345|     3104|          2946|     3637|         3154|        3261|       3223|         3288|      3470|    4107|        3375|
|           Punjab|          584|       552|      522|           491|      535|          602|         585|        536|          665|       555|     563|         525|
|          Manipur|           84|        69|       62|            73|       72|           70|          72|         60|           67|        66|      62|          74|
|      Daman & Diu|           12|         9|       16|             5|        6|            8|           7|          7|            8|         9|       9|           8|
|  Jammu & Kashmir|          534|       535|      706|           610|      657|          485|         652|        612|          597|       553|     646|         452|
|              Goa|          458|       393|      322|           376|      354|          411|         381|        357|          395|       392|     422|         486|
|          Mizoram|           15|        14|       20|            12|        9|           18|          13|          8|           12|        20|      13|          14|
| Himachal Pradesh|          302|       254|      292|           276|      310|          252|         302|        329|          313|       261|     289|         246|
|       Puducherry|          145|       165|      162|           156|      153|          164|         161|        161|          149|       166|     162|         152|
|          Haryana|         1015|       998|      955|           910|      977|          963|        1052|        929|         1080|      1035|     973|         911|
|        Jharkhand|          453|       457|      440|           373|      436|          434|         419|        391|          428|       457|     550|         449|
|Arunachal Pradesh|           29|        26|       28|            27|       31|           33|          29|         28|           30|        30|      33|          31|
+-----------------+-------------+----------+---------+--------------+---------+-------------+------------+-----------+-------------+----------+--------+------------+
only showing top 20 rows

In [10]:
high=accidents_df.groupBy('STATE/UT').agg({'JANUARY':'sum','FEBRUARY':'sum','MARCH':'sum','APRIL':'sum','MAY':'sum','JUNE':'sum','JULY':'sum','AUGUST':'sum','SEPTEMBER':'sum','OCTOBER':'sum','NOVEMBER':'sum','DECEMBER':'sum'})

In [11]:
high.orderBy('STATE/UT').show()

+-----------------+-------------+----------+---------+--------------+---------+-------------+------------+-----------+-------------+----------+--------+------------+
|         STATE/UT|sum(DECEMBER)|sum(APRIL)|sum(JULY)|sum(SEPTEMBER)|sum(JUNE)|sum(FEBRUARY)|sum(OCTOBER)|sum(AUGUST)|sum(NOVEMBER)|sum(MARCH)|sum(MAY)|sum(JANUARY)|
+-----------------+-------------+----------+---------+--------------+---------+-------------+------------+-----------+-------------+----------+--------+------------+
|    A & N Islands|          269|       256|      217|           238|      238|          246|         267|        234|          205|       248|     211|         264|
|   Andhra Pradesh|        47524|     46893|    42374|         41520|    46570|        44657|       43697|      43947|        44013|     47732|   51442|       46452|
|Arunachal Pradesh|          316|       253|      238|           284|      263|          298|         290|        247|          301|       295|     298|         306|
|            Assam|         5146|      5224|     4845|          4837|     4961|         5207|        5319|       4890|         5226|      5623|    5122|        5318|
|            Bihar|         7301|      7760|     7487|          6335|     9305|         7618|        6929|       6714|         7602|      8538|    9984|        7075|
|       Chandigarh|          558|       525|      491|           573|      484|          498|         589|        532|          544|       549|     547|         521|
|     Chhattisgarh|         9674|     10337|     9269|          8867|     9847|        10040|        9831|       8621|         9356|     10157|   10992|       10826|
|     D & N Haveli|          123|        86|       84|            91|      106|          115|         106|         90|           82|       113|     103|         117|
|       D&N Haveli|            6|        10|        8|             7|        4|            7|           8|          7|            8|         7|       9|           6|
|      Daman & Diu|           63|        62|       56|            41|       48|           48|          48|         40|           64|        54|      47|          72|
|       Delhi (Ut)|         9726|      8838|     9358|          9265|     8780|         8657|        9922|       9551|         9595|      9488|    9145|        8639|
|         Delhi Ut|          700|       632|      624|           742|      658|          698|         687|        744|          720|       801|     661|         643|
|              Goa|         4403|      3707|     3013|          3434|     3290|         3813|        3617|       3377|         3932|      3801|    4179|        4365|
|          Gujarat|        25619|     25632|    21979|         22031|    25311|        25489|       24729|      21732|        25379|     26091|   29517|       26816|
|          Haryana|        11703|     10878|    10892|         10535|    10799|        10265|       11705|      10792|        11681|     11229|   11244|       10198|
| Himachal Pradesh|         3039|      2945|     3350|          3223|     3432|         2456|        3314|       3271|         3302|      2880|    3309|        2584|
|  Jammu & Kashmir|         6441|      6601|     8026|          6899|     7830|         5586|        7505|       7198|         7164|      6513|    7434|        5623|
|        Jharkhand|         3940|      4098|     3712|          3407|     4145|         3646|        3721|       3499|         3747|      4050|    4552|        3692|
|        Karnataka|        52146|     50130|    45768|         45108|    48750|        47705|       46890|      45306|        47690|     50224|   55013|       50031|
|           Kerala|        46433|     43224|    39633|         41547|    40970|        42812|       42105|      41431|        43223|     44549|   45178|       47056|
+-----------------+-------------+----------+---------+--------------+---------+-------------+------------+-----------+-------------+----------+--------+------------+
only showing top 20 rows

In [12]:
accident_month=accidents_df.agg({'JANUARY':'sum','FEBRUARY':'sum','MARCH':'sum','APRIL':'sum','MAY':'sum','JUNE':'sum','JULY':'sum','AUGUST':'sum','SEPTEMBER':'sum','OCTOBER':'sum','NOVEMBER':'sum','DECEMBER':'sum'})

In [13]:
accident_month.show()

+-------------+----------+---------+--------------+---------+-------------+------------+-----------+-------------+----------+--------+------------+
|sum(DECEMBER)|sum(APRIL)|sum(JULY)|sum(SEPTEMBER)|sum(JUNE)|sum(FEBRUARY)|sum(OCTOBER)|sum(AUGUST)|sum(NOVEMBER)|sum(MARCH)|sum(MAY)|sum(JANUARY)|
+-------------+----------+---------+--------------+---------+-------------+------------+-----------+-------------+----------+--------+------------+
|       473905|    479663|   440263|        435302|   473574|       459272|      454961|     438351|       457192|    486141|  521563|      482719|
+-------------+----------+---------+--------------+---------+-------------+------------+-----------+-------------+----------+--------+------------+

In [14]:
df_max_month=accident_month.toPandas()

In [15]:
lst=df_max_month.values

In [16]:
lst.max()

521563

In [20]:

#Which month has more accidents over the year?
highest_acc = accidents_df.select([col for col in accidents_df.columns if col!= 'STATE/UT' and col!='YEAR'])
var  = {}
for i in highest_acc.columns:
  var[i] = highest_acc.agg({i:'max'}).collect()[0][0]
df4 = spark.createDataFrame(var.items(), ["month", "value"])
maxValue = df4.agg({'value':'max'}).collect()[0][0]
df4.select('month','value').where(col('value')==maxValue).show()

+-----+-----+
|month|value|
+-----+-----+
|Total|75480|
+-----+-----+