In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425344 sha256=1e9a6709c618695745b6419ee2dd173405f2e551d3a4f5e978d8d3d1f28d1b9b
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [9]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('3').getOrCreate()

from pyspark.sql.functions import *
from pyspark.sql.types import *

In [10]:
data = spark.read.csv('/content/weather_data.csv', header = True, inferSchema = True)

In [11]:
data.show()

+---+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
|_c0|YEAR|  JAN|  FEB|  MAR|  APR|  MAY|  JUN|  JUL|  AUG|  SEP|  OCT|  NOV|  DEC|
+---+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
|  0|1901|17.99|19.43|23.49|26.41|28.28| 28.6|27.49|26.98|26.26|25.08|21.73|18.95|
|  1|1902| 19.0|20.39| 24.1|26.54|28.68|28.44|27.29|27.05|25.95|24.37|21.33|18.78|
|  2|1903|18.32|19.79|22.46|26.03|27.93|28.41|28.04|26.63|26.34|24.57|20.96|18.29|
|  3|1904|17.77|19.39|22.95|26.73|27.83|27.85|26.84|26.73|25.84|24.36|21.07|18.84|
|  4|1905| 17.4|17.79|21.78|24.84|28.32|28.69|27.67|27.47|26.29|26.16|22.07|18.71|
|  5|1906| 17.5|19.14|22.21|26.53|29.06|28.02|27.46|26.82|26.23|24.75|21.93|19.55|
|  6|1907|19.27|19.42|22.03|26.98|27.52|27.66|27.28|26.38|26.26|24.72|22.11|18.46|
|  7|1908|18.35|19.73|22.93|27.06|28.07|28.49|27.16|26.41|25.74|24.25|21.06|18.15|
|  8|1909|17.79|19.05| 23.4|25.76|27.97|27.67|26.56|26.43|25.47|24.37|22.01|18.86|
|  9|1910|18.14|19.72| 22.9|25.96|28.36|27.72|26.93|26.61|25.98|24.04|20.72|18.05|
| 10|1911|18.52|19.18|22.05| 26.0|28.55|28.02|27.44|27.04|26.22|24.57| 21.1|18.76|
| 11|1912| 18.6|20.84|22.93|26.21| 28.3|28.53|27.49|26.68|25.81|24.44| 21.0|18.44|
| 12|1913| 18.2|19.98|22.15|26.61|27.95|27.91| 27.0| 26.8|26.02|24.35|20.92| 18.7|
| 13|1914|18.96|19.66|22.63|25.73|28.24|28.46|27.29|26.49|26.38|23.97|21.87|18.73|
| 14|1915|17.93| 19.0|22.69|26.23|29.17|28.58|27.77|27.32|26.82|25.46|22.18|18.31|
| 15|1916|18.52|19.68|24.24|26.84|28.16|27.81|27.08|26.77| 26.0| 24.6|21.03|18.17|
| 16|1917|18.16|19.94|22.46|25.29|26.97|27.41|27.15|26.64|25.79|23.85| 20.8|18.39|
| 17|1918|17.25|19.58|22.64|25.26|28.27|27.58|27.74|26.97| 26.0|24.54|21.71|18.37|
| 18|1919|18.78|19.15|23.15|26.19| 28.2| 28.3|27.28|26.84|25.84|24.36|21.48|18.58|
| 19|1920|18.27|19.16|23.02|25.73|27.06|27.76|27.48|26.61|26.34|24.85|21.84|18.78|
+---+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
only showing top 20 rows

####  Add column average temperature for each year

In [12]:
columns = ['JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC']
expressions = '+'.join(columns)
new_data = data.withColumn('Total',expr(expressions))
new_data = new_data.withColumn('Average', col('Total')/12)
new_data.show()

+---+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+------------------+------------------+
|_c0|YEAR|  JAN|  FEB|  MAR|  APR|  MAY|  JUN|  JUL|  AUG|  SEP|  OCT|  NOV|  DEC|             Total|           Average|
+---+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+------------------+------------------+
|  0|1901|17.99|19.43|23.49|26.41|28.28| 28.6|27.49|26.98|26.26|25.08|21.73|18.95|            290.69|24.224166666666665|
|  1|1902| 19.0|20.39| 24.1|26.54|28.68|28.44|27.29|27.05|25.95|24.37|21.33|18.78|291.91999999999996|24.326666666666664|
|  2|1903|18.32|19.79|22.46|26.03|27.93|28.41|28.04|26.63|26.34|24.57|20.96|18.29|            287.77|23.980833333333333|
|  3|1904|17.77|19.39|22.95|26.73|27.83|27.85|26.84|26.73|25.84|24.36|21.07|18.84|             286.2|23.849999999999998|
|  4|1905| 17.4|17.79|21.78|24.84|28.32|28.69|27.67|27.47|26.29|26.16|22.07|18.71|            287.19|           23.9325|
|  5|1906| 17.5|19.14|22.21|26.53|29.06|28.02|27.46|26.82|26.23|24.75|21.93|19.55|             289.2|24.099999999999998|
|  6|1907|19.27|19.42|22.03|26.98|27.52|27.66|27.28|26.38|26.26|24.72|22.11|18.46|            288.09|24.007499999999997|
|  7|1908|18.35|19.73|22.93|27.06|28.07|28.49|27.16|26.41|25.74|24.25|21.06|18.15|             287.4|             23.95|
|  8|1909|17.79|19.05| 23.4|25.76|27.97|27.67|26.56|26.43|25.47|24.37|22.01|18.86|285.34000000000003|23.778333333333336|
|  9|1910|18.14|19.72| 22.9|25.96|28.36|27.72|26.93|26.61|25.98|24.04|20.72|18.05|285.13000000000005|23.760833333333338|
| 10|1911|18.52|19.18|22.05| 26.0|28.55|28.02|27.44|27.04|26.22|24.57| 21.1|18.76|            287.45|23.954166666666666|
| 11|1912| 18.6|20.84|22.93|26.21| 28.3|28.53|27.49|26.68|25.81|24.44| 21.0|18.44|289.27000000000004|24.105833333333337|
| 12|1913| 18.2|19.98|22.15|26.61|27.95|27.91| 27.0| 26.8|26.02|24.35|20.92| 18.7|286.59000000000003|23.882500000000004|
| 13|1914|18.96|19.66|22.63|25.73|28.24|28.46|27.29|26.49|26.38|23.97|21.87|18.73|            288.41|24.034166666666668|
| 14|1915|17.93| 19.0|22.69|26.23|29.17|28.58|27.77|27.32|26.82|25.46|22.18|18.31|291.46000000000004|24.288333333333338|
| 15|1916|18.52|19.68|24.24|26.84|28.16|27.81|27.08|26.77| 26.0| 24.6|21.03|18.17|288.90000000000003|24.075000000000003|
| 16|1917|18.16|19.94|22.46|25.29|26.97|27.41|27.15|26.64|25.79|23.85| 20.8|18.39|282.84999999999997| 23.57083333333333|
| 17|1918|17.25|19.58|22.64|25.26|28.27|27.58|27.74|26.97| 26.0|24.54|21.71|18.37|285.90999999999997|23.825833333333332|
| 18|1919|18.78|19.15|23.15|26.19| 28.2| 28.3|27.28|26.84|25.84|24.36|21.48|18.58|288.15000000000003|24.012500000000003|
| 19|1920|18.27|19.16|23.02|25.73|27.06|27.76|27.48|26.61|26.34|24.85|21.84|18.78|             286.9| 23.90833333333333|
+---+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+------------------+------------------+
only showing top 20 rows

#### 2. Add row average temperature of each month

In [13]:
monthly_avg = new_data.groupBy().agg(*[avg(col) for col in new_data])
new_data_2 = new_data.union(monthly_avg)
monthly_avg.show()

+--------+---------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+
|avg(_c0)|avg(YEAR)|         avg(JAN)|          avg(FEB)|          avg(MAR)|          avg(APR)|          avg(MAY)|          avg(JUN)|          avg(JUL)|          avg(AUG)|          avg(SEP)|          avg(OCT)|          avg(NOV)|          avg(DEC)|       avg(Total)|      avg(Average)|
+--------+---------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+
|    58.0|   1959.0|18.42324786324786|20.137948717948717|23.434188034188036|26.514102564102565|28.386410256410255|28.300940170940162|27.369230769230775|26.940085470085464|26.342649572649577|24.742051282051282|21.765726495726508|19.173333333333332|291.5299145299144|24.294159544159545|
+--------+---------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+

#### 3. Add columns Min and Max for each year with corresponding values

In [15]:
new_data3 = new_data.withColumn('min', least('JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC'))
new_data3 = new_data3.withColumn('max', greatest('JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC'))
new_data3.show()

+---+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+------------------+------------------+-----+-----+
|_c0|YEAR|  JAN|  FEB|  MAR|  APR|  MAY|  JUN|  JUL|  AUG|  SEP|  OCT|  NOV|  DEC|             Total|           Average|  min|  max|
+---+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+------------------+------------------+-----+-----+
|  0|1901|17.99|19.43|23.49|26.41|28.28| 28.6|27.49|26.98|26.26|25.08|21.73|18.95|            290.69|24.224166666666665|17.99| 28.6|
|  1|1902| 19.0|20.39| 24.1|26.54|28.68|28.44|27.29|27.05|25.95|24.37|21.33|18.78|291.91999999999996|24.326666666666664|18.78|28.68|
|  2|1903|18.32|19.79|22.46|26.03|27.93|28.41|28.04|26.63|26.34|24.57|20.96|18.29|            287.77|23.980833333333333|18.29|28.41|
|  3|1904|17.77|19.39|22.95|26.73|27.83|27.85|26.84|26.73|25.84|24.36|21.07|18.84|             286.2|23.849999999999998|17.77|27.85|
|  4|1905| 17.4|17.79|21.78|24.84|28.32|28.69|27.67|27.47|26.29|26.16|22.07|18.71|            287.19|           23.9325| 17.4|28.69|
|  5|1906| 17.5|19.14|22.21|26.53|29.06|28.02|27.46|26.82|26.23|24.75|21.93|19.55|             289.2|24.099999999999998| 17.5|29.06|
|  6|1907|19.27|19.42|22.03|26.98|27.52|27.66|27.28|26.38|26.26|24.72|22.11|18.46|            288.09|24.007499999999997|18.46|27.66|
|  7|1908|18.35|19.73|22.93|27.06|28.07|28.49|27.16|26.41|25.74|24.25|21.06|18.15|             287.4|             23.95|18.15|28.49|
|  8|1909|17.79|19.05| 23.4|25.76|27.97|27.67|26.56|26.43|25.47|24.37|22.01|18.86|285.34000000000003|23.778333333333336|17.79|27.97|
|  9|1910|18.14|19.72| 22.9|25.96|28.36|27.72|26.93|26.61|25.98|24.04|20.72|18.05|285.13000000000005|23.760833333333338|18.05|28.36|
| 10|1911|18.52|19.18|22.05| 26.0|28.55|28.02|27.44|27.04|26.22|24.57| 21.1|18.76|            287.45|23.954166666666666|18.52|28.55|
| 11|1912| 18.6|20.84|22.93|26.21| 28.3|28.53|27.49|26.68|25.81|24.44| 21.0|18.44|289.27000000000004|24.105833333333337|18.44|28.53|
| 12|1913| 18.2|19.98|22.15|26.61|27.95|27.91| 27.0| 26.8|26.02|24.35|20.92| 18.7|286.59000000000003|23.882500000000004| 18.2|27.95|
| 13|1914|18.96|19.66|22.63|25.73|28.24|28.46|27.29|26.49|26.38|23.97|21.87|18.73|            288.41|24.034166666666668|18.73|28.46|
| 14|1915|17.93| 19.0|22.69|26.23|29.17|28.58|27.77|27.32|26.82|25.46|22.18|18.31|291.46000000000004|24.288333333333338|17.93|29.17|
| 15|1916|18.52|19.68|24.24|26.84|28.16|27.81|27.08|26.77| 26.0| 24.6|21.03|18.17|288.90000000000003|24.075000000000003|18.17|28.16|
| 16|1917|18.16|19.94|22.46|25.29|26.97|27.41|27.15|26.64|25.79|23.85| 20.8|18.39|282.84999999999997| 23.57083333333333|18.16|27.41|
| 17|1918|17.25|19.58|22.64|25.26|28.27|27.58|27.74|26.97| 26.0|24.54|21.71|18.37|285.90999999999997|23.825833333333332|17.25|28.27|
| 18|1919|18.78|19.15|23.15|26.19| 28.2| 28.3|27.28|26.84|25.84|24.36|21.48|18.58|288.15000000000003|24.012500000000003|18.58| 28.3|
| 19|1920|18.27|19.16|23.02|25.73|27.06|27.76|27.48|26.61|26.34|24.85|21.84|18.78|             286.9| 23.90833333333333|18.27|27.76|
+---+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+------------------+------------------+-----+-----+
only showing top 20 rows

####  Create dataframe called 'decade', storing average temperatures of each month in the respective decade. Decade 1910 is from 1901 to 1910.

In [16]:
new_data4 = new_data3.select('YEAR','JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC').filter(col('YEAR')>1900).filter(col('YEAR')<1911)
new_data4.show()

+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
|YEAR|  JAN|  FEB|  MAR|  APR|  MAY|  JUN|  JUL|  AUG|  SEP|  OCT|  NOV|  DEC|
+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
|1901|17.99|19.43|23.49|26.41|28.28| 28.6|27.49|26.98|26.26|25.08|21.73|18.95|
|1902| 19.0|20.39| 24.1|26.54|28.68|28.44|27.29|27.05|25.95|24.37|21.33|18.78|
|1903|18.32|19.79|22.46|26.03|27.93|28.41|28.04|26.63|26.34|24.57|20.96|18.29|
|1904|17.77|19.39|22.95|26.73|27.83|27.85|26.84|26.73|25.84|24.36|21.07|18.84|
|1905| 17.4|17.79|21.78|24.84|28.32|28.69|27.67|27.47|26.29|26.16|22.07|18.71|
|1906| 17.5|19.14|22.21|26.53|29.06|28.02|27.46|26.82|26.23|24.75|21.93|19.55|
|1907|19.27|19.42|22.03|26.98|27.52|27.66|27.28|26.38|26.26|24.72|22.11|18.46|
|1908|18.35|19.73|22.93|27.06|28.07|28.49|27.16|26.41|25.74|24.25|21.06|18.15|
|1909|17.79|19.05| 23.4|25.76|27.97|27.67|26.56|26.43|25.47|24.37|22.01|18.86|
|1910|18.14|19.72| 22.9|25.96|28.36|27.72|26.93|26.61|25.98|24.04|20.72|18.05|
+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+

In [17]:
new_data4 = new_data4.drop('YEAR')
monthly_avg_decade = new_data4.agg(*[avg(col) for col in new_data4])
decade = new_data4.union(monthly_avg_decade)

#### 5. Which year is the hottest year? (Based on avg temp)

In [18]:
new_data3.select('YEAR','Average').orderBy('Average', ascending = False).collect()[1]

Row(YEAR=2017, Average=26.291666666666668)

#### 6. Which year is the coldest year? (Based on avg temp)

In [19]:
new_data3.select('YEAR','Average').orderBy('Average').collect()[1]

Row(YEAR=1950, Average=23.735)

#### 7. Find out which years recorded minimum and maximum temperatures. (Not based on avg temp)

In [20]:
new_data3.select('YEAR','min').orderBy('min').collect()[1]
new_data3.select('YEAR','max').orderBy('max', ascending = False).collect()[1]

Row(YEAR=2017, max=30.47)

#### 8. How much raise is observed in min and max temperature for each month?

In [21]:
new_data6 = new_data3.select('JAN','FEB','MAR','APR','MAY','JUN','JUL','AUG','SEP','OCT','NOV','DEC')
monthly_max = new_data6.agg(*[max(col) for col in new_data6])
monthly_min = new_data6.agg(*[min(col) for col in new_data6])
monthly_max.show()
monthly_min.show()

+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
|max(JAN)|max(FEB)|max(MAR)|max(APR)|max(MAY)|max(JUN)|max(JUL)|max(AUG)|max(SEP)|max(OCT)|max(NOV)|max(DEC)|
+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
|   20.92|   23.58|   26.61|   29.56|   30.78|   29.88|   28.47|   28.17|   28.11|   27.24|   23.92|   21.89|
+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+

+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
|min(JAN)|min(FEB)|min(MAR)|min(APR)|min(MAY)|min(JUN)|min(JUL)|min(AUG)|min(SEP)|min(OCT)|min(NOV)|min(DEC)|
+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+
|   17.25|   17.79|   21.78|   24.84|   26.97|   27.33|   26.48|   26.21|   25.47|   23.52|   20.59|   17.98|
+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+